# WhatsApp
TARGET_GROUP_ID=

# MongoDB
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/trip-videos
MONGODB_DATABASE=trip-videos

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_RECONNECT_DELAY=5000
RABBITMQ_MAX_RETRIES=5

# Environment
NODE_ENV=development
