# WhatsApp
TARGET_GROUP_ID=

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672
TO_WHATSAPP_QUEUE=to-whatsapp
FROM_WHATSAPP_QUEUE=from-whatsapp
RABBITMQ_RECONNECT_DELAY=5000
RABBITMQ_MAX_RETRIES=5

# Environment
NODE_ENV=development
